<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
</head>
<body>

<h2>Customer Dashboard</h2>

<ul>
    <li><a th:href="@{/customer/manage-profile}">Manage Profile</a></li>
    <li><a th:href="@{/customer/search-artist}">Search Artist</a></li>
    <li><a th:href="@{/customer/view-bookings}">View Bookings</a></li>
    <li><a th:href="@{/customer/view-feedbacks}">View Feedbacks</a></li>
    <li><a th:href="@{/customer/manage-reviews}">View Reviews</a></li>
</ul>

</body>
</html>
