<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
</head>

<body>

    <h2>Customer Dashboard</h2>

    <ul>
        <li><a th:href="@{/customer/manageProfile}">Manage Profile</a></li>
        <li><a th:href="@{/customer/searchArtist}">Search Artist</a></li>
        <li><a th:href="@{/customer/viewBookings}">View Bookings</a></li>
        <li><a th:href="@{/customer/viewFeedbacks}">View Feedbacks</a></li>
        <li><a th:href="@{/customer/manageReviews}">View Reviews</a></li>
    </ul>

</body>

</html>