<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration</title>
</head>
<body>

<h2>Customer Registration</h2>

<form th:action="@{/customer/register}" th:object="${customer}" method="post">

    <label>Name:</label><br>
    <input type="text" th:field="*{name}" required>
    <br><br>

    <label>Email:</label><br>
    <input type="email" th:field="*{email}" required>
    <br><br>

    <label>Password:</label><br>
    <input type="password" th:field="*{password}" required>
    <br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>
